textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(37, 37, 37, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(30, 31, 30, 0.6);
  outline: 0 none;
}

a.log-in {
  color: black;
  font-weight: bold;
  padding: 0;
}

a.log-in:hover {
  color: rgba(37, 37, 37, 0.8);
}

button[type="submit"] {
  margin-right: 5px;
}

button[type="submit"]:hover {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transition: 1s;
}

p.validation {
  color: black;
  font-size: 0.8rem;
}

p.validation::before {
  display: inline;
  content: "! ";
  font-weight: bold;
}
